{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}
{% block content%}
    <div class="home-container">
        <img src="{{ asset('images/trucks.jpg') }}" alt="shoping">
        <p>
            Maksatbek Bolushov
            1704.01001
        </p>
        <p>
            Computer Engineering
        </p>
        <h3>Info</h3>
        <ul>
            <li>From Osh</li>
            <li>0773 00 69 19</li>
            <li>bekanur98@bk.ru</li>
        </ul>
        <p>Example of homepage. Example of homepage. Example of homepage</p>
    </div>

{% endblock %}